<launch>
  <arg name="start_sensor_timing_monitor" default="true"/>
  <arg name="start_rddf_initialization" default="false"/>
  <arg name="rddf_initialization_config" default="$(find mando_localization)/config/rddf_initialization.yaml"/>
  <arg name="enable_gps_fusion" default="true"/>
  <arg name="interfaces_config" default="$(find mando_localization)/config/localization_interfaces.yaml"/>
  <arg name="gps_reference_config" default="$(find mando_localization)/config/gps_reference.yaml"/>
  <arg name="status_policy_config" default="$(find mando_localization)/config/status_policy.yaml"/>
  <arg name="gps_quality_gate_node_name" default="odometry_gps_fusion"/>
  <arg name="time_sync_config" default="$(find mando_localization)/config/time_sync.yaml"/>
  <arg name="gps_driver_config" default="$(find mando_localization)/config/gps_driver.yaml"/>
  <arg name="sensor_timing_monitor_node_name" default="sensor_timing_monitor"/>

  <!-- Host clock readiness is also required by manual RDDF initialization and
       CalibratedIMU when GPS fusion is disabled. GPS diagnostics may report an
       absent stream, but that does not change the host-clock readiness value. -->
  <node respawn="true" respawn_delay="3.0" if="$(arg start_sensor_timing_monitor)" pkg="mando_localization" type="sensor_timing_monitor.py"
        name="$(arg sensor_timing_monitor_node_name)" output="screen" clear_params="true">
    <rosparam command="load" file="$(arg interfaces_config)"/>
    <rosparam command="load" file="$(arg time_sync_config)"/>
    <rosparam command="load" file="$(arg gps_driver_config)" ns="gps_driver"/>
    <param name="gps_driver_timing_topic" value="/mando_localization/internal/driver/gps_timing"/>
    <remap from="~diagnostics" to="/mando_localization/internal/timing/diagnostics"/>
  </node>

  <group if="$(arg enable_gps_fusion)">
    <node respawn="true" respawn_delay="3.0" pkg="mando_localization" type="odometry_gps_fusion_node"
          name="$(arg gps_quality_gate_node_name)" output="screen" clear_params="true">
      <rosparam command="load" file="$(arg interfaces_config)"/>
      <rosparam command="load" file="$(arg gps_reference_config)"/>
      <rosparam if="$(arg start_rddf_initialization)" command="load" file="$(arg rddf_initialization_config)"/>
      <rosparam command="load" file="$(arg status_policy_config)"/>
      <param name="initialization/required" value="$(arg start_rddf_initialization)"/>
    </node>
  </group>
</launch>
