<launch>
  <arg name="start_rddf_initialization" default="false"/>
  <arg name="rddf_initialization_config" default="$(find mando_localization)/config/rddf_initialization.yaml"/>
  <arg name="interfaces_config" default="$(find mando_localization)/config/localization_interfaces.yaml"/>
  <arg name="imu_driver_config" default="$(find mando_localization)/config/imu_driver.yaml"/>
  <arg name="imu_heading_config" default="$(find mando_localization)/config/imu_heading_calibration.yaml"/>
  <arg name="initialize_heading" default="true"/>
  <arg name="initial_heading_config" default="$(find mando_localization)/config/initial_heading.yaml"/>
  <arg name="encoder_config" default="$(find mando_localization)/config/encoder_calibration.yaml"/>
  <arg name="local_ekf_config" default="$(find mando_localization)/config/ekf_local.yaml"/>

  <arg name="motion_source" default="encoder"/>
  <arg name="start_interface_adapter" default="true"/>
  <arg name="start_imu_normalizer" default="true"/>
  <arg name="start_calibrated_imu" default="true"/>
  <arg name="start_local_ekf" default="true"/>
  <arg name="imu_normalizer_node_name" default="imu_normalizer"/>
  <arg name="calibrated_imu_node_name" default="calibrated_imu"/>
  <arg name="encoder_adapter_node_name" default="encoder_to_twist_adapter"/>
  <arg name="local_ekf_node_name" default="imu_encoder_local_ekf"/>
  <arg name="interface_adapter_node_name" default="localization_interface_adapter"/>

  <rosparam command="load" file="$(arg interfaces_config)" ns="/mando_localization/interfaces"/>

  <group if="$(arg start_interface_adapter)">
    <node respawn="true" respawn_delay="3.0" pkg="mando_localization" type="localization_interface_adapter_node"
          name="$(arg interface_adapter_node_name)" output="screen" clear_params="true">
      <rosparam command="load" file="$(arg interfaces_config)"/>
    </node>
  </group>

  <group if="$(arg start_imu_normalizer)">
    <node respawn="true" respawn_delay="3.0" pkg="mando_localization" type="imu_normalizer_node"
          name="$(arg imu_normalizer_node_name)" output="screen" clear_params="true">
      <rosparam command="load" file="$(arg interfaces_config)"/>
      <rosparam command="load" file="$(arg imu_driver_config)"/>
    </node>
  </group>

  <!-- 외부 normalized IMU 입력도 같은 보정 단계를 거친다. -->
  <group if="$(arg start_calibrated_imu)">
    <node respawn="true" respawn_delay="3.0" pkg="mando_localization" type="calibrated_imu_node.py"
          name="$(arg calibrated_imu_node_name)" output="screen" clear_params="true">
      <rosparam command="load" file="$(arg interfaces_config)"/>
      <rosparam command="load" file="$(arg imu_heading_config)"/>
      <param name="initialization/required" value="$(arg start_rddf_initialization)"/>
      <rosparam if="$(arg initialize_heading)" command="load" file="$(arg initial_heading_config)"/>
    </node>
  </group>

  <group if="$(eval arg('motion_source') == 'encoder')">
    <node respawn="true" respawn_delay="3.0" pkg="mando_localization" type="encoder_to_twist_adapter_node"
          name="$(arg encoder_adapter_node_name)" output="screen" clear_params="true">
      <rosparam command="load" file="$(arg interfaces_config)"/>
      <rosparam command="load" file="$(arg encoder_config)"/>
    </node>
  </group>

  <group if="$(arg start_local_ekf)">
    <node respawn="true" respawn_delay="3.0" pkg="robot_localization" type="ekf_localization_node"
          name="$(arg local_ekf_node_name)" output="screen" clear_params="true">
      <rosparam command="load" file="$(arg local_ekf_config)"/>
      <rosparam if="$(arg initialize_heading)" command="load" file="$(arg initial_heading_config)"/>
      <remap from="odometry/filtered" to="/mando_localization/internal/ekf/local_odometry"/>
      <remap from="set_pose" to="/mando_localization/internal/ekf/local_set_pose"/>
    </node>
  </group>
</launch>
